@charset "UTF-8";

@font-face {
  font-family: "chanicon-020";
  src:url("../fonts/chanicon-020.eot");
  src:url("../fonts/chanicon-020.eot?#iefix") format("embedded-opentype"),
    url("../fonts/chanicon-020.woff") format("woff"),
    url("../fonts/chanicon-020.ttf") format("truetype"),
    url("../fonts/chanicon-020.svg#chanicon-020") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "chanicon-020" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="chanicon-"]:before,
[class*=" chanicon-"]:before {
  font-family: "chanicon-020" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chanicon-alert:before {
  content: "\e000";
}
.chanicon-air:before {
  content: "\e001";
}
.chanicon-archive:before {
  content: "\e002";
}
.chanicon-arrow-combo:before {
  content: "\e003";
}
.chanicon-arrows-ccw:before {
  content: "\e004";
}
.chanicon-attach:before {
  content: "\e005";
}
.chanicon-attention:before {
  content: "\e006";
}
.chanicon-back-in-time:before {
  content: "\e007";
}
.chanicon-back:before {
  content: "\e008";
}
.chanicon-basket:before {
  content: "\e009";
}
.chanicon-battery:before {
  content: "\e00a";
}
.chanicon-adjust:before {
  content: "\e00b";
}
.chanicon-address:before {
  content: "\e00c";
}
.chanicon-bell:before {
  content: "\e00d";
}
.chanicon-block:before {
  content: "\e00e";
}
.chanicon-book:before {
  content: "\e00f";
}
.chanicon-book-open:before {
  content: "\e010";
}
.chanicon-bookmark:before {
  content: "\e011";
}
.chanicon-bookmarks:before {
  content: "\e012";
}
.chanicon-box:before {
  content: "\e013";
}
.chanicon-briefcase:before {
  content: "\e014";
}
.chanicon-brush:before {
  content: "\e015";
}
.chanicon-bucket:before {
  content: "\e016";
}
.chanicon-calendar:before {
  content: "\e017";
}
.chanicon-camera:before {
  content: "\e018";
}
.chanicon-cancel:before {
  content: "\e019";
}
.chanicon-cancel-circled:before {
  content: "\e01a";
}
.chanicon-cancel-squared:before {
  content: "\e01b";
}
.chanicon-cc:before {
  content: "\e01c";
}
.chanicon-cc-by:before {
  content: "\e01d";
}
.chanicon-cc-nc:before {
  content: "\e01e";
}
.chanicon-cc-nc-eu:before {
  content: "\e01f";
}
.chanicon-cc-nc-jp:before {
  content: "\e020";
}
.chanicon-cc-nd:before {
  content: "\e021";
}
.chanicon-cc-pd:before {
  content: "\e022";
}
.chanicon-cc-remix:before {
  content: "\e023";
}
.chanicon-cc-sa:before {
  content: "\e024";
}
.chanicon-cc-share:before {
  content: "\e025";
}
.chanicon-cc-zero:before {
  content: "\e026";
}
.chanicon-ccw:before {
  content: "\e027";
}
.chanicon-cd:before {
  content: "\e028";
}
.chanicon-chart-area:before {
  content: "\e029";
}
.chanicon-chart-bar:before {
  content: "\e02a";
}
.chanicon-chart-line:before {
  content: "\e02b";
}
.chanicon-chart-pie:before {
  content: "\e02c";
}
.chanicon-chat:before {
  content: "\e02d";
}
.chanicon-check:before {
  content: "\e02e";
}
.chanicon-clock:before {
  content: "\e02f";
}
.chanicon-clipboard:before {
  content: "\e030";
}
.chanicon-cloud:before {
  content: "\e031";
}
.chanicon-doc-landscape:before {
  content: "\e032";
}
.chanicon-doc:before {
  content: "\e033";
}
.chanicon-direction:before {
  content: "\e034";
}
.chanicon-db-shape:before {
  content: "\e035";
}
.chanicon-database:before {
  content: "\e036";
}
.chanicon-cw:before {
  content: "\e037";
}
.chanicon-cup:before {
  content: "\e038";
}
.chanicon-compass:before {
  content: "\e039";
}
.chanicon-credit-card:before {
  content: "\e03a";
}
.chanicon-comment:before {
  content: "\e03b";
}
.chanicon-cog:before {
  content: "\e03c";
}
.chanicon-code:before {
  content: "\e03d";
}
.chanicon-cloud-thunder:before {
  content: "\e03e";
}
.chanicon-doc-text:before {
  content: "\e03f";
}
.chanicon-doc-text-inv:before {
  content: "\e040";
}
.chanicon-docs:before {
  content: "\e041";
}
.chanicon-dot:before {
  content: "\e042";
}
.chanicon-dot-2:before {
  content: "\e043";
}
.chanicon-dot-3:before {
  content: "\e044";
}
.chanicon-down:before {
  content: "\e045";
}
.chanicon-down-bold:before {
  content: "\e046";
}
.chanicon-down-dir:before {
  content: "\e047";
}
.chanicon-down-circled:before {
  content: "\e048";
}
.chanicon-down-open:before {
  content: "\e049";
}
.chanicon-down-open-big:before {
  content: "\e04a";
}
.chanicon-down-open-mini:before {
  content: "\e04b";
}
.chanicon-facebook-circled:before {
  content: "\e04c";
}
.chanicon-facebook:before {
  content: "\e04d";
}
.chanicon-eye:before {
  content: "\e04e";
}
.chanicon-export:before {
  content: "\e04f";
}
.chanicon-evernote:before {
  content: "\e050";
}
.chanicon-erase:before {
  content: "\e051";
}
.chanicon-droplet:before {
  content: "\e052";
}
.chanicon-dropbox:before {
  content: "\e053";
}
.chanicon-drive:before {
  content: "\e054";
}
.chanicon-dribbble-circled:before {
  content: "\e055";
}
.chanicon-dribbble:before {
  content: "\e056";
}
.chanicon-download:before {
  content: "\e057";
}
.chanicon-down-thin:before {
  content: "\e058";
}
.chanicon-facebook-squared:before {
  content: "\e059";
}
.chanicon-fast-backward:before {
  content: "\e05a";
}
.chanicon-fast-forward:before {
  content: "\e05b";
}
.chanicon-feather:before {
  content: "\e05c";
}
.chanicon-flag:before {
  content: "\e05d";
}
.chanicon-flashlight:before {
  content: "\e05e";
}
.chanicon-flash:before {
  content: "\e05f";
}
.chanicon-flickr-circled:before {
  content: "\e060";
}
.chanicon-flattr:before {
  content: "\e061";
}
.chanicon-flickr:before {
  content: "\e062";
}
.chanicon-flight:before {
  content: "\e063";
}
.chanicon-floppy:before {
  content: "\e064";
}
.chanicon-flow-branch:before {
  content: "\e065";
}
.chanicon-flow-cascade:before {
  content: "\e066";
}
.chanicon-flow-line:before {
  content: "\e067";
}
.chanicon-flow-parallel:before {
  content: "\e068";
}
.chanicon-flow-tree:before {
  content: "\e069";
}
.chanicon-folder:before {
  content: "\e06a";
}
.chanicon-forward:before {
  content: "\e06b";
}
.chanicon-gauge:before {
  content: "\e06c";
}
.chanicon-github:before {
  content: "\e06d";
}
.chanicon-github-circled:before {
  content: "\e06e";
}
.chanicon-globe:before {
  content: "\e06f";
}
.chanicon-gplus:before {
  content: "\e070";
}
.chanicon-google-circles:before {
  content: "\e071";
}
.chanicon-gplus-circled:before {
  content: "\e072";
}
.chanicon-install:before {
  content: "\e073";
}
.chanicon-instagrem:before {
  content: "\e074";
}
.chanicon-info-circled:before {
  content: "\e075";
}
.chanicon-info:before {
  content: "\e076";
}
.chanicon-infinity:before {
  content: "\e077";
}
.chanicon-inbox:before {
  content: "\e078";
}
.chanicon-hourglass:before {
  content: "\e079";
}
.chanicon-home:before {
  content: "\e07a";
}
.chanicon-help-circled:before {
  content: "\e07b";
}
.chanicon-help:before {
  content: "\e07c";
}
.chanicon-heart-empty:before {
  content: "\e07d";
}
.chanicon-heart:before {
  content: "\e07e";
}
.chanicon-graduation-cap:before {
  content: "\e07f";
}
.chanicon-key:before {
  content: "\e080";
}
.chanicon-keyboard:before {
  content: "\e081";
}
.chanicon-lamp:before {
  content: "\e082";
}
.chanicon-language:before {
  content: "\e083";
}
.chanicon-lastfm:before {
  content: "\e084";
}
.chanicon-lastfm-circled:before {
  content: "\e085";
}
.chanicon-layout:before {
  content: "\e086";
}
.chanicon-leaf:before {
  content: "\e087";
}
.chanicon-left:before {
  content: "\e088";
}
.chanicon-left-bold:before {
  content: "\e089";
}
.chanicon-left-circled:before {
  content: "\e08a";
}
.chanicon-left-dir:before {
  content: "\e08b";
}
.chanicon-left-open:before {
  content: "\e08c";
}
.chanicon-list-add:before {
  content: "\e08d";
}
.chanicon-window:before {
  content: "\e08e";
}
.chanicon-water:before {
  content: "\e08f";
}
.chanicon-up-open-mini:before {
  content: "\e090";
}
.chanicon-up-thin:before {
  content: "\e091";
}
.chanicon-upload:before {
  content: "\e092";
}
.chanicon-upload-cloud:before {
  content: "\e093";
}
.chanicon-volume:before {
  content: "\e094";
}
.chanicon-up-open-big:before {
  content: "\e095";
}
.chanicon-up-open:before {
  content: "\e096";
}
.chanicon-vkontakte:before {
  content: "\e097";
}
.chanicon-vimeo-circled:before {
  content: "\e098";
}
.chanicon-up-dir:before {
  content: "\e099";
}
.chanicon-up-circled:before {
  content: "\e09a";
}
.chanicon-vimeo:before {
  content: "\e09b";
}
.chanicon-video:before {
  content: "\e09c";
}
.chanicon-up-bold:before {
  content: "\e09d";
}
.chanicon-up:before {
  content: "\e09e";
}
.chanicon-vcard:before {
  content: "\e09f";
}
.chanicon-users:before {
  content: "\e0a0";
}
.chanicon-twitter-circled:before {
  content: "\e0a1";
}
.chanicon-twitter:before {
  content: "\e0a2";
}
.chanicon-user-add:before {
  content: "\e0a3";
}
.chanicon-user:before {
  content: "\e0a4";
}
.chanicon-tumblr-circled:before {
  content: "\e0a5";
}
.chanicon-tape:before {
  content: "\e0a6";
}
.chanicon-target:before {
  content: "\e0a7";
}
.chanicon-thumbs-down:before {
  content: "\e0a8";
}
.chanicon-thermometer:before {
  content: "\e0a9";
}
.chanicon-thumbs-up:before {
  content: "\e0aa";
}
.chanicon-ticket:before {
  content: "\e0ab";
}
.chanicon-to-end:before {
  content: "\e0ac";
}
.chanicon-to-start:before {
  content: "\e0ad";
}
.chanicon-tools:before {
  content: "\e0ae";
}
.chanicon-traffic-cone:before {
  content: "\e0af";
}
.chanicon-trash:before {
  content: "\e0b0";
}
.chanicon-tumblr:before {
  content: "\e0b1";
}
.chanicon-tag:before {
  content: "\e0b2";
}
.chanicon-switch:before {
  content: "\e0b3";
}
.chanicon-trophy:before {
  content: "\e0b4";
}
.chanicon-sweden:before {
  content: "\e0b5";
}
.chanicon-suitcase:before {
  content: "\e0b6";
}
.chanicon-stumbleupon-circled:before {
  content: "\e0b7";
}
.chanicon-star-empty:before {
  content: "\e0b8";
}
.chanicon-star:before {
  content: "\e0b9";
}
.chanicon-spotify-circled:before {
  content: "\e0ba";
}
.chanicon-spotify:before {
  content: "\e0bb";
}
.chanicon-soundcloud:before {
  content: "\e0bc";
}
.chanicon-sound:before {
  content: "\e0bd";
}
.chanicon-right-open-mini:before {
  content: "\e0be";
}
.chanicon-right-thin:before {
  content: "\e0bf";
}
.chanicon-rocket:before {
  content: "\e0c0";
}
.chanicon-rss:before {
  content: "\e0c1";
}
.chanicon-search:before {
  content: "\e0c2";
}
.chanicon-share:before {
  content: "\e0c3";
}
.chanicon-stop:before {
  content: "\e0c4";
}
.chanicon-stumbleupon:before {
  content: "\e0c5";
}
.chanicon-shuffle:before {
  content: "\e0c6";
}
.chanicon-shareable:before {
  content: "\e0c7";
}
.chanicon-signal:before {
  content: "\e0c8";
}
.chanicon-sina-weibo:before {
  content: "\e0c9";
}
.chanicon-skype:before {
  content: "\e0ca";
}
.chanicon-skype-circled:before {
  content: "\e0cb";
}
.chanicon-smashing:before {
  content: "\e0cc";
}
.chanicon-list:before {
  content: "\e0cd";
}
.chanicon-linkedin-circled:before {
  content: "\e0ce";
}
.chanicon-link:before {
  content: "\e0cf";
}
.chanicon-linkedin:before {
  content: "\e0d0";
}
.chanicon-light-up:before {
  content: "\e0d1";
}
.chanicon-light-down:before {
  content: "\e0d2";
}
.chanicon-lifebuoy:before {
  content: "\e0d3";
}
.chanicon-level-up:before {
  content: "\e0d4";
}
.chanicon-level-down:before {
  content: "\e0d5";
}
.chanicon-left-open-mini:before {
  content: "\e0d6";
}
.chanicon-left-open-big:before {
  content: "\e0d7";
}
.chanicon-left-thin:before {
  content: "\e0d8";
}
.chanicon-lock-open:before {
  content: "\e0d9";
}
.chanicon-lock:before {
  content: "\e0da";
}
.chanicon-location:before {
  content: "\e0db";
}
.chanicon-login:before {
  content: "\e0dc";
}
.chanicon-logo-db:before {
  content: "\e0dd";
}
.chanicon-loop:before {
  content: "\e0de";
}
.chanicon-logout:before {
  content: "\e0df";
}
.chanicon-magnet:before {
  content: "\e0e0";
}
.chanicon-megaphone:before {
  content: "\e0e1";
}
.chanicon-map:before {
  content: "\e0e2";
}
.chanicon-mail:before {
  content: "\e0e3";
}
.chanicon-menu:before {
  content: "\e0e4";
}
.chanicon-mic:before {
  content: "\e0e5";
}
.chanicon-note:before {
  content: "\e0e6";
}
.chanicon-newspaper:before {
  content: "\e0e7";
}
.chanicon-network:before {
  content: "\e0e8";
}
.chanicon-mute:before {
  content: "\e0e9";
}
.chanicon-music:before {
  content: "\e0ea";
}
.chanicon-mouse:before {
  content: "\e0eb";
}
.chanicon-moon:before {
  content: "\e0ec";
}
.chanicon-monitor:before {
  content: "\e0ed";
}
.chanicon-mobile:before {
  content: "\e0ee";
}
.chanicon-mixi:before {
  content: "\e0ef";
}
.chanicon-minus-squared:before {
  content: "\e0f0";
}
.chanicon-minus-circled:before {
  content: "\e0f1";
}
.chanicon-minus:before {
  content: "\e0f2";
}
.chanicon-note-beamed:before {
  content: "\e0f3";
}
.chanicon-palette:before {
  content: "\e0f4";
}
.chanicon-paper-plane:before {
  content: "\e0f5";
}
.chanicon-pause:before {
  content: "\e0f6";
}
.chanicon-paypal:before {
  content: "\e0f7";
}
.chanicon-pencil:before {
  content: "\e0f8";
}
.chanicon-phone:before {
  content: "\e0f9";
}
.chanicon-picasa:before {
  content: "\e0fa";
}
.chanicon-picture:before {
  content: "\e0fb";
}
.chanicon-pinterest:before {
  content: "\e0fc";
}
.chanicon-pinterest-circled:before {
  content: "\e0fd";
}
.chanicon-play:before {
  content: "\e0fe";
}
.chanicon-plus:before {
  content: "\e0ff";
}
.chanicon-rdio-circled:before {
  content: "\e100";
}
.chanicon-rdio:before {
  content: "\e101";
}
.chanicon-quote:before {
  content: "\e102";
}
.chanicon-qq:before {
  content: "\e103";
}
.chanicon-publish:before {
  content: "\e104";
}
.chanicon-print:before {
  content: "\e105";
}
.chanicon-progress-2:before {
  content: "\e106";
}
.chanicon-progress-1:before {
  content: "\e107";
}
.chanicon-progress-0:before {
  content: "\e108";
}
.chanicon-progress-3:before {
  content: "\e109";
}
.chanicon-popup:before {
  content: "\e10a";
}
.chanicon-plus-squared:before {
  content: "\e10b";
}
.chanicon-plus-circled:before {
  content: "\e10c";
}
.chanicon-record:before {
  content: "\e10d";
}
.chanicon-renren:before {
  content: "\e10e";
}
.chanicon-reply:before {
  content: "\e10f";
}
.chanicon-reply-all:before {
  content: "\e110";
}
.chanicon-resize-full:before {
  content: "\e111";
}
.chanicon-resize-small:before {
  content: "\e112";
}
.chanicon-retweet:before {
  content: "\e113";
}
.chanicon-right:before {
  content: "\e114";
}
.chanicon-right-bold:before {
  content: "\e115";
}
.chanicon-right-circled:before {
  content: "\e116";
}
.chanicon-right-dir:before {
  content: "\e117";
}
.chanicon-right-open:before {
  content: "\e118";
}
.chanicon-right-open-big:before {
  content: "\e119";
}
.chanicon-bag:before {
  content: "\e11a";
}
.chanicon-adduser:before {
  content: "\e11b";
}
.chanicon-anonymous:before {
  content: "\e11c";
}
.chanicon-chat2:before {
  content: "\e11d";
}
.chanicon-ear:before {
  content: "\e11e";
}
.chanicon-eye2:before {
  content: "\e11f";
}
.chanicon-settings:before {
  content: "\e120";
}
.chanicon-sunglasses:before {
  content: "\e121";
}
.chanicon-user2:before {
  content: "\e122";
}
.chanicon-fire:before {
  content: "\e123";
}
.chanicon-fryingpan:before {
  content: "\e124";
}
.chanicon-megaphone2:before {
  content: "\e125";
}
.chanicon-glasses:before {
  content: "\e126";
}
.chanicon-key2:before {
  content: "\e127";
}
.chanicon-message:before {
  content: "\e128";
}
.chanicon-notifications:before {
  content: "\e129";
}
.chanicon-logo:before {
  content: "\e12a";
}
.chanicon-chan-fawkes:before {
  content: "\e12b";
}
.chanicon-chan-anon:before {
  content: "\e12c";
}
.chanicon-chan-blank:before {
  content: "\e12d";
}
.chanicon-chan-sad:before {
  content: "\e12e";
}
.chanicon-chan-content:before {
  content: "\e12f";
}
.chanicon-chan-tease:before {
  content: "\e130";
}
.chanicon-chan-sick:before {
  content: "\e131";
}
.chanicon-chan-shocked:before {
  content: "\e132";
}
.chanicon-chan-happy:before {
  content: "\e133";
}
.chanicon-chan-sad-1:before {
  content: "\e134";
}
.chanicon-chan-smile:before {
  content: "\e135";
}
